<section class="mainbar" data-ng-controller="FacingTypes">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content customerTypes">
                        <h2> Facing Types  </h2>
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:35%">Name</td>
                                <td style="width:25%">Edit</td>
                            </tr>
                            <tr ng-repeat="item in results">
                                <td>
                                    <span editable-text="item.Name" e-name="Name" e-form="rowform" onbeforesave="checkFacingTypeName($data)" e-required>
                                        {{ item.Name || 'empty' }}
                                    </span>
                                </td>

                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onaftersave="saveFacingType($data, item.Id)" ng-show="rowform.$visible"
                                          class="form-buttons form-inline" shown="inserted == item">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                        <button class="btn btn-danger" ng-show="!item.Id" ng-click="deleteFacingType(item)">del</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-default" ng-click="addFacingType()">Add row</button>
                                </td>
                            </tr>
                        </table>

                        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="page" ng-change="pageChanged()" ng-hide="hidePagination"></pagination>

                    </div>


                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>


