<section id="dashboard-view" class="mainbar" data-ng-controller="Users">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr style="font-weight: bold">
                            <td style="width:35%">First Name</td>
                            <td style="width:25%">Edit</td>
                        </tr>
                        <tr ng-repeat="item in results">
                            <td>
                                <span>
                                    {{ item.FirstName || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <a href="#/usermanagement/user/edit/{{item.Id}}" class="btn btn-primary">Edit User</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="#/usermanagement/user/edit/0" class="btn btn-default">Add new user</a>
                            </td>
                        </tr>
                    </table>

                    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="page" ng-change="pageChanged()" ng-hide="hidePagination"></pagination>
                </div>
            </div>

        </div>
    </section>
</section>