<section class="mainbar" data-ng-controller="CustomerPreSales">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content customerTypes">
                        <h2> List Customers </h2>
                        <hr />

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for=" name">Customer Name</label>
                                
                                <input type="text" ng-model="ContactLeadFilters.CustomerNames"
                                       placeholder="Select customer name" autocomplete="off" typeahead-min-length="3"
                                       typeahead="item as item.Name for item  in CustomerNames($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingCustomerNames" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingCustomerNames" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                            <div class="col-md-6">
                                <label for=" name">Locality</label>
                                <input type="text" ng-model="ContactLeadFilters.Localities"
                                       placeholder="Select Locality" autocomplete="off" typeahead-min-length="3"
                                       typeahead="item as item.Name for item  in Localities($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingLocalities" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingLocalities" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for=" name">Contact Types</label>
                                <input type="text" ng-model="ContactLeadFilters.CustomerTypes"
                                       placeholder="Select contact type" autocomplete="off" typeahead-min-length="3"
                                       typeahead="item as item.Name for item  in CustomerTypes($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingContactType" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingContactType" class="glyphicon glyphicon-refresh"></i>
                               
                            </div>
                            <div class="col-md-6 form-group">
                                <label for=" name">Unit Types</label>
                                <input type="text" ng-model="ContactLeadFilters.UnitTypes"
                                       placeholder="Select unit type" autocomplete="off" typeahead-min-length="1"
                                       typeahead="item as item.Name for item  in UnitTypes($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingUnitType" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingUnitType" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for=" name">Budget From</label>
                                <input type="text" ng-model="ContactLeadFilters.BudgetFromList"
                                       placeholder="Select budget from" autocomplete="off" typeahead-min-length="1"
                                       typeahead="item as item.Budget for item  in BudgetFromList($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingBudgetFrom" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingBudgetFrom" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                            <div class="col-md-6 form-group">
                                <label for=" name">Budget To</label>
                                <input type="text" ng-model="ContactLeadFilters.BudgetToList"
                                       placeholder="Select budget to" autocomplete="off" typeahead-min-length="1"
                                       typeahead="item as item.Budget for item  in BudgetToList($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingBudgetTo" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingBudgetTo" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for=" name">Contact Numbers</label>
                                <input type="text" ng-model="ContactLeadFilters.ContactNumbers"
                                       placeholder="Select Contact Numbers" autocomplete="off" typeahead-min-length="1"
                                       typeahead="item as item.Number for item  in ContactNumbers($viewValue)| filter:$viewValue  | limitTo:8 "
                                       typeahead-loading="loadingCntNumber" class="form-control" typeahead-wait-ms="500">
                                <i ng-show="loadingCntNumber" class="glyphicon glyphicon-refresh"></i>
                                
                            </div>
                            <div class="col-md-6 form-group">
                                <button type="button" class="btn btn-primary" ng-click="SearchCustomers()">Search Customers</button>
                            </div>
                        </div>

                        <pre>
                                {{BudgetFromList | json}}
                            {{ContactLeadFilters.BudgetFromList | json}}
                            </pre>
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:25%">Name</td>
                                <td style="width:25%">Address</td>
                                <td style="width:25%">Contact numbers</td>
                                <td style="width:25%">Action</td>
                            </tr>
                            <tr ng-repeat="item in results">
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    {{item.Address}} , {{item.Locality.Name}} , {{item.Locality.City}}  , {{item.Locality.State}}
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li ng-repeat="c in item.ContactNumbers">{{ c.PhoneNumber }}      </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-primary" role="button" href="#/presalesunit/company/edit/{{item.Id}}">Edit</a>
                                        <a class="btn btn-primary" role="button" href="#/presalesunit/company/{{item.Id}}">Detail</a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="page" ng-change="pageChanged()" ng-hide="hidePagination"></pagination>

                    </div>


                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>


