<section class="mainbar" data-ng-controller="EditBroker">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content customerTypes">
                        <h2> {{title}} </h2>

                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                        <hr />

                        <form role="form" class="col-md-8" name="myForm" ng-submit="saveBroker(broker)" novalidate>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for=" name"> Name</label>
                                    <input type="text" class="form-control" ng-model="broker.Name" ng-minlength="2"
                                           required name="Name" value="{{broker.Name}}" placeholder="Enter broker name">

                                    <div ng-messages="myForm.Name.$error" class="has-feedback">
                                        <div ng-message="required">Name is a required field.</div>
                                        <div ng-message="minlength">Name is too short</div>
                                    </div>
                                </div>


                                <div class="form-group col-md-6">
                                    <label for="Localities">Locality</label>
                                    <select class="form-control" name="LocalityId" ng-model="broker.LocalityId" ng-required="true" ng-selected="broker.LocalityId">
                                        <option ng-repeat='value in Localities' value='{{value.Id}}'>
                                            {{value.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Address">Address</label>
                                    <textarea class="form-control " rows="3" ng-model="broker.Address" name="Address">{{broker.Address}}</textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="CompanyName">Comapny Name:</label>
                                    <input type="text" class="form-control" ng-model="broker.CompanyName" ng-minlength="2"
                                           required name="CompanyName" value="{{broker.CompanyName}}" placeholder="Enter company name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="ContactNumbers">ContactNumbers</label>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="col-md-3">
                                                Number
                                            </th>
                                            <th class="col-md-3">
                                                Type
                                            </th>
                                            <th class="col-md-3">
                                                Action
                                            </th>
                                        </tr>
                                        <tr ng-repeat="item in broker.ContactNumbers">
                                            <td>
                                                <input type="text" class="form-control" ng-model="item.PhoneNumber" name="PhoneNumber" placeholder="Enter phone number">
                                            </td>
                                            <td>
                                                <select class="form-control" name="Type" ng-model="item.Type" ng-selected="item.Type">
                                                    <option value='Primary'>Primary</option>
                                                    <option value='Secondary'>Secondary</option>
                                                </select>

                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-justified">
                                                    <span class="btn btn-primary" role="button" ng-click="addContactNumber()">Add new number</span>
                                                    <span class="btn btn-danger" role="button" ng-click="removeContactNumber($index)">Remove the number</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>


                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label for="Email">Email:</label>
                                    <input type="text" class="form-control" name="Email" ng-model="broker.Email" value="{{broker.Email}}" placeholder="Email">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="PanCard">Pan Card:</label>
                                    <input type="text" class="form-control" name="PanCard" ng-model="broker.PanCard" value="{{broker.PanCard}}" placeholder="Pan Card">
                                </div>

                            </div>


                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label for="ReferenceName">Reference Name:</label>
                                    <input type="text" class="form-control" name="ReferenceName" ng-model="broker.ReferenceName" value="{{broker.ReferenceName}}" placeholder="ReferenceName">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="PanCard">Pan Card:</label>
                                    <input type="text" class="form-control" name="PanCard" ng-model="broker.PanCard" value="{{broker.PanCard}}" placeholder="Pan Card">
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">{{buttonText}}</button>
                        </form>

                    </div>


                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>


