<section class="mainbar" data-ng-controller="Company">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content customerTypes">
                        <h2> Companies </h2>
                        <pre>
                                {{results | json}}
                            </pre>
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:25%">Name</td>
                                <td style="width:25%">Address</td>
                                <td style="width:25%">Contact numbers</td>
                                <td style="width:25%">Action</td>
                            </tr>
                            <tr ng-repeat="item in results">
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    {{item.Address}} , {{item.Locality.Name}} , {{item.Locality.Location.City}}  
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li ng-repeat="c in item.ContactNumbers">{{ c.PhoneNumber }}      </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-primary" role="button" href="#/presalesunit/company/edit/{{item.Id}}" >Edit</a>
                                        <a class="btn btn-primary" role="button" href="#/presalesunit/company/{{item.Id}}">Detail</a>
                                    </div>                                        
                                </td>
                            </tr>                            
                        </table>

                        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="page" ng-change="pageChanged()" ng-hide="hidePagination"></pagination>

                    </div>


                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>


