<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" data-ng-controller="Topbar as vm">
        
        <ul class="nav navbar-nav">
            <li  dropdown>
                <a class="dropdown-toggle" ng-disabled="disabled">All Routes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="nlightblue fade-selection-animation"
                        data-ng-repeat="r in vm.navRoutes">
                        <a href="#{{r.originalPath}}"
                           data-ng-bind-html="r.settings.content"></a>
                    </li>
                </ul>
            </li>
            <li  dropdown>
                <a class="dropdown-toggle"  ng-disabled="disabled">User Management <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/usermanagement/users">Users</a></li>
                    <li><a href="#/usermanagement/roles">Roles</a></li>
                    <li><a href="#/usermanagement/permissions">Permissions</a></li>
                </ul>
            </li>
            <li dropdown>
                <a class="dropdown-toggle" ng-disabled="disabled">Pre Sales Unit <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/presalesunit/brokers">Broker</a></li>
                    <li><a href="#/presalesunit/customertypes">Customer Type</a></li>
                    <li><a href="#/presalesunit/company">Company</a></li>
                    <li><a href="#/presalesunit/developers">Developer</a></li>
                    <li><a href="#/presalesunit/unittypes">Unit Type</a></li>
                    <li><a href="#/presalesunit/contactstatustypes">Contact Status</a></li>
                    <li><a href="#/presalesunit/sources">Source</a></li>
                    <li><a href="#/presalesunit/facingtypes">Facing Type</a></li>
                    <li><a href="#/presalesunit/locations">Location</a></li>
                    <li><a href="#/presalesunit/locality">Locality</a></li>
                </ul>
            </li>
            <li dropdown>
                <a class="dropdown-toggle" ng-disabled="disabled">Task Management  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/taskmanager/tasks/1">Task Assigned To Me</a></li>
                    <li><a href="#/taskmanager/tasks/0">Task Assigned By Me</a></li>
                    <li><a href="#/taskmanager/task/edit/0/0">Add new task</a></li>
                </ul>
            </li>
            <li dropdown>
                <a class="dropdown-toggle" ng-disabled="disabled">Pre Sales<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/presales/personal/edit/0">Add Personal Information</a></li>
                    <li><a href="#/presales/customer/detail/1">Customer Detail</a></li>
                    <li><a href="#/presales/import/customers">Import Customers</a></li>   
                    <li><a href="#/presales/duplicate/importCustomers">Import Duplicate Customers</a></li>   
                    <li><a target="_blank" href="exportAllDuplicateData">Export Duplicate Customers</a></li>   


                </ul>
            </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
            <li data-ng-hide="vm.authentication.isAuth"> <a href="#/account/login">Login</a></li>
            <li data-ng-hide="!vm.authentication.isAuth"> <a href="#/account/logout">Hi, {{vm.authentication.name}} (Logout)</a></li>
            
        </ul>
    </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
