<section class="mainbar" data-ng-controller="Permissions as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        Permissions
                        <pre>{{vm.permissions | json}}</pre>
                        
                        <table class="crud-grid table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <th style="width: 100px;">
                                    <div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" ng-click="vm.toggleAddMode()"></i></div>
                                </th>
                                <th style="width: 50px;">Id</th>
                                <th>Name</th>
                                <th>Tag</th>
                            </tr>
                            <tr ng-show="vm.addMode">
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-save" ng-click="vm.addPermissions()"></i>
                                            <i class="btn glyphicon glyphicon-remove" ng-click="vm.toggleAddMode()"></i>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <input ng-model="vm.permission.Name" name="permissionName"
                                           ng-minlength="5"
                                           ng-maxlength="20"
                                           required />
                                      <div ng-messages="permissionName.$error" ng-messages-include="my-custom-messages">
                                        
                                            <div ng-message="required">You did not enter a field</div>
                                            <div ng-message="minlength">Your field is too short</div>
                                            <div ng-message="maxlength">Your field is too long</div>
                                        </div>

</td>
                                <td>
                                    <input ng-model="vm.permission.Tag" />
                                </td>
                            </tr>
                            <tr ng-repeat="permission in vm.permissions | orderBy:'Id':true">
                                <td>
                                    <div class="btn-toolbar" ng-show="permission.editMode == null || permission.editMode == false">
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-edit" ng-click="vm.toggleEditMode(permission)"></i>
                                            <i class="btn glyphicon glyphicon-trash" ng-click="vm.deletePermissions(permission)"></i>
                                        </div>
                                    </div>
                                    <div class="btn-toolbar" ng-show="permission.editMode == true">
                                        <div class="btn-group">
                                            <i class="btn glyphicon glyphicon-save" ng-click="vm.updatePermissions(permission)"></i>
                                            <i class="btn glyphicon glyphicon-remove" ng-click="vm.toggleEditMode(permission)"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>{{permission.Id}}</td>
                                <td>
                                    <span ng-show="permission.editMode == null || permission.editMode == false">{{permission.Name}}</span>
                                    <input ng-model="permission.Name" ng-show="permission.editMode == true" />
                                </td>
                                <td>
                                    <span ng-show="permission.editMode == null || permission.editMode == false">{{permission.Tag}}</span>
                                    <input ng-model="permission.Tag" ng-show="permission.editMode == true" />
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<script type="text/ng-template" id="my-custom-messages">
    <div ng-message="required">This field is required</div>
    <div ng-message="minlength">This field is too short</div>
</script>