<section class="mainbar"  data-ng-controller="Login as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-app-widget-header title="{{vm.title}}"></div>
                        <div class="widget-content user">
                            
                            
                            <!-- pass in the variable if our form is valid or invalid -->
                            <form name="userForm" ng-submit="vm.login(userForm.$valid)" novalidate>

                                <!-- USERNAME -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Username" data-ng-model="vm.loginData.userName" required autofocus>
                                    <p ng-show="userForm.userName.$invalid && !userForm.userName.$pristine" class="help-block">User name is required.</p>
                                </div>

                                <!-- Password -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password" data-ng-model="vm.loginData.password" >
                                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required.</p>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-info" ng-disabled="vm.disableSubmit" type="submit">Login</button>
                                </div>
                                

                            </form>
                           
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>